<footer>
  <section class="primary-footer">
    <div class="footer-container">
      <div class="footer-block">
        <h6>Site Map</h6>
        <ul>
          <li><a href="#">Your Sight</a></li>
          <li><a href="#">Your Child's Sight</a></li>
          <li><a href="#">Eye Problems</a></li>
          <li><a href="#">Resources for Professionals</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="footer-block">
        <h6>Follow Us</h6>
        <ul class="social-links">
          <li><a href="#"><i class="facebook-small"></i></a></li>
          <li><a href="#"><i class="twitter-small"></i></a></li>
          <li><a href="#"><i class="donor-drive-small"></i></a></li>
          <li><a href="#"><i class="email-small"></i></a></li>

        </ul>
      </div>
      <div class="footer-block">
        <h6>Sign Up for our Newsletter</h6>
        <ul>
          <input type="text" name="email" placeholder="Email Address">
          <input type="submit" value="Send">
        </ul>
      </div>
    </div>
  </section>

  <section class="copyright">
    <div class="copyright-container">
      <p>©2016 Prevent Blindness. All Rights Reserved.</p>
      <ul class="legal-links">
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Copyright Notice</a></li>
        <li><a href="#">Disclaimer Notice</a></li>
      </ul>
    </div>
  </section>
</footer>
