<header class="sub-header">
  <ul>
    <li><a href="">Advocate</a></li>
    <li><a href="">Our Partners</a></li>
    <li><a href="">Prevent Blindness in your State</a></li>
    <li><a href="">Search Site</a></li>
  </ul>
</header>

<header class="navigation">
  <div class="navigation-container">
    <img src="images/logo.jpg" class="logo">
    <nav class="panel">
      <ul>
        <li class="nav-link hover-menu">
          <div class="openSubPanel">Your Sight</div>
          <div class="subPanel">
              <ul>
                <li class="heading">Getting Eye Care</li>
                <li>What's your risk of a vision problem?</li>
                <li>Signs of eye problems</li>
                <li>Seeing an eye doctor</li>
                <li>Health insurance and your eyes</li>
                <li>Medicare benefits and your eyes</li>
                <li>Vision care financial assistance info</li>
                <li class="closeSubPanel">Back</li>
              </ul>
              <ul>
                <li class="heading">Good Vision for Life</li>
                <li>Your vision and a healthy lifestyle</li>
                <li>Pregnancy and your vision</li>
                <li>Gender and vision</li>
                <li>Growing older with good vision</li>
                <li>Living well with low vision</li>
                <li class="closeSubPanel">Back</li>
              </ul>
              <ul>
                <h6 class="heading">Getting Eye Care</h6>
                <li>Wearing contact lenses</li>
                <li>Protecting your eyes from the sun</li>
                <li>Keeping your eyes safe from injury at home, work and at play</li>
                <li>First aid for eye emergencies</li>
                <li>Jump starting a car battery</li>
                <li>Electronic screens and your eyes</li>
                <li class="closeSubPanel">Back</li>
              </ul>
          </div>
        </li>
        <li class="nav-link hover-menu">
          <div class="openSubPanel">Your Child's Sight</div>
            <div class="subPanel">
               <ul>
                 <li class="heading">Getting Eye Care</li>
                 <li>What's your risk of a vision problem?</li>
                 <li>Signs of eye problems</li>
                 <li>Seeing an eye doctor</li>
                 <li>Health insurance and your eyes</li>
                 <li>Medicare benefits and your eyes</li>
                 <li>Vision care financial assistance info</li>
                 <li class="closeSubPanel">Back</li>
               </ul>
               <ul>
                 <li class="heading">Good Vision for Life</li>
                 <li>Your vision and a healthy lifestyle</li>
                 <li>Pregnancy and your vision</li>
                 <li>Gender and vision</li>
                 <li>Growing older with good vision</li>
                 <li>Living well with low vision</li>
                 <li class="closeSubPanel">Back</li>
               </ul>
               <ul>
                 <h6 class="heading">Getting Eye Care</h6>
                 <li>Wearing contact lenses</li>
                 <li>Protecting your eyes from the sun</li>
                 <li>Keeping your eyes safe from injury at home, work and at play</li>
                 <li>First aid for eye emergencies</li>
                 <li>Jump starting a car battery</li>
                 <li>Electronic screens and your eyes</li>
                 <li class="closeSubPanel">Back</li>
               </ul>
            </div>
        </li>
        <li>
          <div class="openSubPanel">Eye Problems</div>
          <ul class="subPanel">
              <li class="heading">Colours</li>
              <li>Blue</li>
              <li>Red</li>
              <li>Green</li>
              <li class="closeSubPanel">Back</li>
          </ul>
        </li>
        <li>
          <div class="openSubPanel">Resources for Professionals</div>
          <ul class="subPanel">
              <li class="heading">Colours</li>
              <li>Blue</li>
              <li>Red</li>
              <li>Green</li>
              <li class="closeSubPanel">Back</li>
          </ul>
        </li>
        <li>
          <div class="openSubPanel">Eye Problems</div>
          <ul class="subPanel">
              <li class="heading">Colours</li>
              <li>Blue</li>
              <li>Red</li>
              <li>Green</li>
              <li class="closeSubPanel">Back</li>
          </ul>
        </li>
        <li>
          <div class="openSubPanel">About Us</div>
          <ul class="subPanel">
              <li class="heading">Colours</li>
              <li>Blue</li>
              <li>Red</li>
              <li>Green</li>
              <li class="closeSubPanel">Back</li>
          </ul>
        </li>
        <li class="closePanel">Close</li>
      </ul>
    </nav>
  </div>
</header>