<div class="full-nav">
  <header class="sub-header">
    <!--
    <p class="group-name">Prevent Blindness Ohio</p>
    -->
    <ul>
      <li><a href="">Advocate</a></li>
      <li><a href="">Our Partners</a></li>
      <li><a href="/prevent_blindness_in_your_state.html">Prevent Blindness in your State</a></li>
      <li class="search-button search">
        <a href="#" class="trigger-search">Search Site</a>
        <div class="search-block">
          <form action="/search" method="GET">
            <input type="text" name="query" id="query" placeholder="Search...">
          </form>
        </div>
      </li>
    </ul>
  </header>
  <header class="navigation">
    <div class="navigation-wrapper">
      <a href="/" class="logo">
        <img src="images/pb-logo.jpg">
      </a>
      <div class="nav-actions">
        <div class="menuTrigger">
          <svg class="inline-svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             width="320px" height="220.5px" viewBox="0 0 32 22.5" enable-background="new 0 0 32 22.5" xml:space="preserve">
            <g class="svg-menu-toggle">
              <path class="bar" d="M20.945,8.75c0,0.69-0.5,1.25-1.117,1.25H3.141c-0.617,0-1.118-0.56-1.118-1.25l0,0
                c0-0.69,0.5-1.25,1.118-1.25h16.688C20.445,7.5,20.945,8.06,20.945,8.75L20.945,8.75z">
              </path>
              <path class="bar" d="M20.923,15c0,0.689-0.501,1.25-1.118,1.25H3.118C2.5,16.25,2,15.689,2,15l0,0c0-0.689,0.5-1.25,1.118-1.25 h16.687C20.422,13.75,20.923,14.311,20.923,15L20.923,15z">
              </path>
              <path class="bar" d="M20.969,21.25c0,0.689-0.5,1.25-1.117,1.25H3.164c-0.617,0-1.118-0.561-1.118-1.25l0,0
                c0-0.689,0.5-1.25,1.118-1.25h16.688C20.469,20,20.969,20.561,20.969,21.25L20.969,21.25z">
              </path>
              <!-- needs to be here as a 'hit area' -->
              <rect width="50" height="50" fill="none">
              </rect>
            </g>
          </svg>
        </div>
        <nav class="panel">
          <ul>
            <li class="nav-link hover-menu">
              <a href="#" class="hover-link">Your Sight</a>
              <div class="openSubPanel">Your Sight</div>
              <div class="subPanel three-groups">
                <div class="dropdown-container">
                  <div class="group">
                    <p class="heading">Getting Eye Care</p>
                    <ul>
                      <li><a href="#">What's your risk of a vision problem?</a></li>
                      <li><a href="#">Signs of eye problems</a></li>
                      <li><a href="#">Seeing an eye doctor</a></li>
                      <li><a href="#">Health insurance and your eyes</a></li>
                      <li><a href="#">Medicare benefits and your eyes</a></li>
                      <li><a href="#">Vision care financial assistance info</a></li>
                    </ul>
                  </div>
                  <div class="group">
                    <p class="heading">Good Vision for Life</a></p>
                    <ul>
                      <li><a href="#">Your vision and a healthy lifestyle</a></li>
                      <li><a href="#">Pregnancy and your vision</a></li>
                      <li><a href="#">Gender and vision</a></li>
                      <li><a href="#">Growing older with good vision</a></li>
                      <li><a href="#">Living well with low vision</a></li>
                    </ul>
                  </div>
                  <div class="group">
                    <p class="heading">Protecting your Eyes</a></p>
                    <ul>
                      <li><a href="#">Wearing contact lenses</a></li>
                      <li><a href="#">Protecting your eyes from the sun</a></li>
                      <li><a href="#">Keeping your eyes safe from injury at home, work and at play</a></li>
                      <li><a href="#">First aid for eye emergencies</a></li>
                      <li><a href="#">Jump starting a car battery</a></li>
                      <li><a href="#">Electronic screens and your eyes</a></li>
                      <li class="closeSubPanel">Back</li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <li class="nav-link hover-menu">
              <a href="#" class="hover-link">Your Child's Sight</a>
              <div class="openSubPanel">Your Child's Sight</div>
              <div class="subPanel two-groups">
                <div class="dropdown-container">
                  <div class="group">
                    <p class="heading">Children & Vision Issues</p>
                    <ul>
                      <li><a href="#">Your baby's developing sight</a></li>
                      <li><a href="#">Getting ready for school</a></li>
                      <li><a href="#">Your child's glasses</a></li>
                      <li><a href="#">Contact lenses</a></li>
                      <li><a href="#">Protecting your child's eyes from the sun</a></li>
                      <li><a href="#">Keeping your child safe from injuries</a></li>
                      <li><a href="#">First aid for eye emergencies</a></li>
                    </ul>
                   </div>
                   <div class="group">
                    <p class="heading">Children & Eye Care</p>
                    <ul>
                      <li><a href="#">Signs of possible eye problems in children</a></li>
                      <li><a href="#">Vision sreening and eye exams</a></li>
                      <li><a href="#">Prevent Blindness and children's vision</a></li>
                      <li><a href="#">Taking your child to an eye doctor</a></li>
                      <li><a href="#">The ACA and your child's sight</a></li>
                      <li><a href="#">Vision care financial assistance information</a></li>
                      <li class="closeSubPanel">Back</li>
                    </ul>
                   </div>
                 </div>
              </div>
            </li>
            <li class="nav-link hover-menu">
              <a href="/eye_problems.html" class="hover-link">Eye Problems</a>
              <div class="openSubPanel">Eye Problems</div>
              <div class="subPanel one-group">
                <div class="dropdown-container">
                  <ul class="group">
                    <li><a href="#">AMD</a></li>
                    <li><a href="#">Amblyopia (Lazy Eye)</a></li>
                    <li><a href="#">Astigmatism</a></li>
                    <li><a href="#">Cataract</a></li>
                    <li><a href="#">Color Blindness</a></li>
                    <li><a href="#">Conjunctivitis (Pink Eye) </a></li>
                    <li><a href="#">Diabetes and Your Eyes</a></li>
                    <li><a href="#">Diabetic Macular Edema</a></li>
                    <li><a href="#">Diabetic Retinopathy</a></li>
                    <li><a href="#">Dry AMD</a></li>
                    <li><a href="#">Dry Eye</a></li>
                    <li><a href="#">Floaters</a></li>
                    <li><a href="/main_text_slider.html">Glaucoma</a></li>
                    <li><a href="#">Hyperopia (Farsightedness)</a></li>
                    <li><a href="#">Myopia (Nearsightedness)</a></li>
                    <li><a href="#">Presbyopia</a></li>
                    <li><a href="#">Retinal Tears and Detachments</a></li>
                    <li><a href="#">Retinal Vein Occlusion</a></li>
                    <li><a href="#">Retinitis Pigmentosa</a></li>
                    <li><a href="#">Strabismus</a></li>
                    <li><a href="#">Symptomatic Vitreomacular Adhesion</a></li>
                    <li><a href="#">Uveitis</a></li>
                    <li><a href="#">Glossary of eye and vision terms</a></li>
                    <li><a href="#">The eye and how we see</a></li>
                    <li><a href="#">Information for printing and downloading</a></li>
                    <li><a href="#">Share your story</a></li>
                    <li class="closeSubPanel">Back</li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="nav-link hover-menu">
              <a href="#" class="hover-link">Resources for Professionals</a>
              <div class="openSubPanel">Resources for Professionals</div>
              <div class="subPanel two-groups">
                <div class="dropdown-container">
                  <div class="group">
                    <p class="heading">Children & Vision Issues</p>
                    <ul>
                      <li><a href="#">Your baby's developing sight</a></li>
                      <li><a href="#">Getting ready for school</a></li>
                      <li><a href="#">Your child's glasses</a></li>
                      <li><a href="#">Contact lenses</a></li>
                      <li><a href="#">Protecting your child's eyes from the sun</a></li>
                      <li><a href="#">Keeping your child safe from injuries</a></li>
                      <li><a href="#">First aid for eye emergencies</a></li>
                    </ul>
                  </div>
                  <div class="group">
                    <p class="heading">Children & Eye Care</p>
                    <ul>
                      <li><a href="#">Signs of possible eye problems in children</a></li>
                      <li><a href="#">Vision sreening and eye exams</a></li>
                      <li><a href="#">Prevent Blindness and children's vision</a></li>
                      <li><a href="#">Taking your child to an eye doctor</a></li>
                      <li><a href="#">The ACA and your child's sight</a></li>
                      <li><a href="#">Vision care financial assistance information</a></li>
                      <li class="closeSubPanel">Back</li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <li class="nav-link hover-menu">
              <a href="#" class="hover-link">About Us</a>
              <div class="openSubPanel">About Us</div>
              <div class="subPanel two-groups">
                <div class="dropdown-container">
                  <div class="group">
                    <p class="heading">Our Organization</p>
                    <ul>
                      <li><a href="#">Our Mission and Vision</a></li>
                      <li><a href="#">Our History</a></li>
                      <li><a href="#">Our Partners</a></li>
                      <li><a href="#">Board of Directors</a></li>
                      <li><a href="#">News</a></li>
                      <li><a href="#">Annual Report and Finacial Information</a></li>
                      <li><a href="#">Contact Us</a></li>
                    </ul>
                   </div>
                   <div class="group">
                    <p class="heading">Get Involved</p>
                    <ul>
                      <li><a href="#">Why support our mission?</a></li>
                      <li><a href="#">Donate</a></li>
                      <li><a href="#">Team 2020</a></li>
                      <li><a href="#">Planned Giving</a></li>
                      <li><a href="#">Advocacy</a></li>
                      <li><a href="#">Events</a></li>
                      <li class="closeSubPanel">Back</li>
                    </ul>
                   </div>
                </div>
              </div>
            </li>
            <!--Only shows up for affiliates-->
            <!--
            <li class="nav-link hover-menu">
              <a href="#" class="hover-link">Vision Programs</a>
              <div class="openSubPanel">Vision Programs</div>
              <div class="subPanel two-groups">
                <div class="dropdown-container">
                  <div class="group">
                    <p class="heading">Our Organization</p>
                    <ul>
                      <li><a href="#">Our Mission and Vision</a></li>
                      <li><a href="#">Our History</a></li>
                      <li><a href="#">Our Partners</a></li>
                      <li><a href="#">Board of Directors</a></li>
                      <li><a href="#">News</a></li>
                      <li><a href="#">Annual Report and Finacial Information</a></li>
                      <li><a href="#">Contact Us</a></li>
                    </ul>
                   </div>
                   <div class="group">
                    <p class="heading">Get Involved</p>
                    <ul>
                      <li><a href="#">Why support our mission?</a></li>
                      <li><a href="#">Donate</a></li>
                      <li><a href="#">Team 2020</a></li>
                      <li><a href="#">Planned Giving</a></li>
                      <li><a href="#">Advocacy</a></li>
                      <li><a href="#">Events</a></li>
                      <li class="closeSubPanel">Back</li>
                    </ul>
                   </div>
                </div>
              </div>
            </li>-->
            <li class="nav-link sub-link"><a href="#">Advocate</a></li>
            <li class="nav-link sub-link"><a href="#">Our Partners</a></li>
            <li class="nav-link sub-link"><a href="/prevent_blindness_in_your_state.html">Prevent Blindness in your State</a></li>
            <li class="search-button search nav-link sub-link">
              <a href="#" class="trigger-search">Search Site</a>
              <div class="search-block">
                <form action="/search" method="GET">
                  <input type="text" name="query" id="query" placeholder="Search...">
                </form>
              </div>
            </li>
            <li class="closePanel">Close</li>
          </ul>
        </nav>
        <a href="#" class="button-teal-base cta">Donate</a>
      </div>
    </div>
  </header>
</div>