// Buttons Component Styles
// ========================================

// Main Button
@mixin button{
  @include font-type($primary-sans-serif, normal, $bold);
  @include rem(padding, 8px 20px);
  @include rem(margin, 5px 0 1px);
  @include transition (all 0.3s ease-in-out);
  //border: 1px solid $white-base;
  display: inline-block;
  line-height: normal;
  @include s-small;
  border-radius: 20em;

  @include media($tablet){ min-width: 150px; text-align: center; }

  text{
    align: center;
    decoration: none;
  }
  -webkit-appearance: none;

  &:hover{ cursor: pointer; }

  &:focus{
    border: none;
    outline: none;
    text-decoration: none;
  }
}


// Buton Sizes
.button-small {
  @include rem(padding, 5px 6px);
  @include s-small;
}

.button-large {
   @include rem(padding, 15px 12px);
}

// Button Styles
@each $button in $buttons{
  $type:        nth($button, 1);
  $bg-1:        nth($button, 2);
  $border:      nth($button, 3);
  $color:       nth($button, 4);
  $hover-bg:    nth($button, 5);
  $hover-color: nth($button, 6);

  .button-#{$type}{
    @include button;
    background: $bg-1;
    border: 1px solid $border;
    color: $color;

    &:hover{
      //@include box-shadow(0 0 2px, rgba(0, 0, 0, 0.2));
      background-color: $hover-bg;
      border: 1px solid $hover-bg;
      color: $hover-color;
      opacity: 1;
    }

    &:active{
      background-color: $hover-bg;
      color: darken($hover-color, 5%);
      border: 1px solid $hover-bg;
    }

    &:focus{ border: 1px solid $hover-bg; }
  }

  // Links
  .link-#{$type}{
    @include s-small;
    @include font-type($primary-sans-serif, normal, 600);
    color: $bg-1;
    @include transition(all 0.3s ease-in-out);
    @include rem(padding-bottom, 3px);
    display: inline-block;

    &:hover{
      color: $bg-1;
      opacity: 0.6;
    }
  }
}

#{$all-buttons} {
  @include appearance(none);
  background-color: $teal-base;
  border-radius: 20em;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $primary-sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: $bold;
  line-height: 1;
  @include s-small;
  @include rem(padding, 15px 12px);
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
  @include transition(0.3s ease-in-out);
  @include media($tablet){ width: 200px; }

  &:hover,
  &:focus {
    background-color: shade($teal-base, 20%);
    color: #fff;
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $teal-dark;
    }
  }
}

.footer-block{
  #{$all-buttons} {
    background-color: $white-base;
    border-radius: 0px;
    color: $purple-dark;
    height: 41px;
    line-height: 0.6;
    opacity: 0.4;
    width: 20%;

    &:hover{ opacity: 1; }
  }
}

//Video Link
.video-link:before{
  content: "";
  background: url('../images/play-button.svg') no-repeat;
  display: inline-block;
  @include rem(margin-right, 7px);
  height: 20px;
  width: 20px;
  background-size: 100%;
  vertical-align: sub;
}