// FOOTER
[class*=-container]{
  @include base-padding;
  @include outer-container;
}

footer{
  clear: both;
  ul{ margin-bottom: 0; }
  li{ margin: 0;}
}

.footer-container{

  @include rem(padding, 25px 20px);

  @include media($tablet){
    @include clearfix;
    @include rem(padding, 30px 20px 10px);
  }
}

.primary-footer {
  background-color: $purple-base;

  .footer-block {
    &:not(:last-child) { @include rem(margin-bottom, 20px); }

    @include media($tablet){
      @include span-columns(4 of 12);
      @include omega(3n);
    }

    h6 {
      color: $white-base;
      @include font-type($primary-sans-serif, normal, 700);
      @include rem(margin-bottom, 15px);
      text-transform: uppercase;
      opacity: 0.4;

      @include media($tablet){ @include rem(margin-bottom, 10px); }
    }

    li{ display: inline-block; margin-bottom: 5px; }

    a {
      color: $white-base;
      @include rem(margin, 0 20px 0 0);
      @include s-tiny;
      @include transition();
      opacity: 0.4;

      &:hover { opacity: 1; }
    }
  }
  .social-links a{
    @include rem(margin, 0 10px 0 0);
  }
}

//Copyright
.copyright {
  background-color: $purple-dark;

   ul{ margin-bottom: 0; }

  .copyright-container { @include rem(padding, 10px 20px); }

  p, a {
    @include rem(margin, 0);
    @include s-xtiny;
    color: $white-base;
    opacity: 0.4;
  }

  p{
    @include media($tablet) {
      float: left;
    }
  }

  li a { line-height: 0; }

  li{
    display: inline-block;
    @include rem(margin, 0 10px 0 0);
    @include media($tablet){ @include rem(margin, 0 0 0 10px); }
  }

  .copyright-text {
    line-height: 26px;
    text-align: center;

    @include media($tablet) {
      float: left;
      text-align: left;
    }
  }

  .legal-links {

    @include media($tablet) {
      float: right;
      text-align: right;
    }
  }
}
