// Form Styles Stylesheet
// ========================================

#{$all-text-inputs},
select,
textarea{
  background-color: $white-base;
  border: 1px solid $grey-lightest;
  box-sizing: border-box;
  @include appearance(none);
  @include font-type($primary-sans-serif, normal, $regular);
  @include rem(margin-top, 15px);
  @include rem(padding, 15px);
  @include s-base;
  width: 100%;
  -webkit-font-smoothing: antialiased;

  @include placeholder{
    color: $grey-base;
    @include s-small;
  }

  &:focus{
    border-color: $teal-base;
    outline: none;
  }
}

textarea,
textarea[type="text"]{
  height: 210px;
  @include rem(margin-bottom, 12px);
  resize: none;
}

.form-blocks{
  background-color: $grey-lightest;
}

.form-block{
  @include media($tablet){
    @include span-columns(6 of 12);
  }
}

.form-container{
  input[type="submit"]{
    @include media($tablet){
      float: right;
    }
  }

}


.footer-block input[type="text"]{
  background-color: $purple-dark;
  border: none;
  color: $white-base;
  float: left;
  @include rem(padding, 8px 10px);
  @include s-base;
  margin: 0;
  width: 80%;

  @include placeholder{
    color: $white-base;
    font-style: italic;
    line-height: 1.5;
    opacity: 0.6;
  }
}


.node-webform form{
  margin: 0 auto;
  @include base-padding;
}