.item-list .pager{
  @include rem(padding, 0px 20px 40px);
  text-align: center;

  @include media($tablet) { @include rem(padding, 0px 20px 80px); }

  li{
    display: inline-block;
  }
}

.search-block form{
  display: inline;
  width: 100%;
}

.search-form{
  background-color: $white-light;
  max-width: none;

  .container-inline div, .container-inline label{
    display: inline-block;
  }
}

.page-search{
   .form-wrapper, .search-results, h2{
    @include base-padding;
    @include outer-container;
  }

  h2{
    max-width: 1088px;
    @include rem(padding-bottom, 0px);
  }

  .form-wrapper{
    @include rem(padding, 40px 20px);
    @include media($tablet) { @include rem(padding, 40px 20px); }
  }

  .search-results{
    padding-top: 0px;

    li{
      @include rem(margin-top, 30px);
    }
  }

  .page-header {
    height: inherit;
  }
}