//ICONS

@mixin sprite {
  background-image: url('../../images/sprite.svg');
  background-repeat: no-repeat;
  display: inline-block;
  text-indent: -99999px;
}

@mixin prevent-blindness-icon($height: 30px, $width: 30px){
  background-size: ($width * 4) ($width * 1);
  height: $height;
  width: $width;
}

$icon-sizes: (
  xsmall 20px,
  small  35px,
  large  70px,
  xl     140px
);

//LIST
$sprite-icons: (
  facebook           0,
  twitter            1,
  donor-drive        2,
  email              3
);

//LOOP
@each $sprite-icon in $sprite-icons{
  $icon-name:   nth($sprite-icon, 1);
  $position-num: nth($sprite-icon, 2);

  @each $icon-size in $icon-sizes{
    $size-name: nth($icon-size, 1);
    $size:      nth($icon-size, 2);
    $position: $size * $position-num;

    .#{$icon-name}-#{$size-name}{
      background-position: -($position * 1) 0;
      @include prevent-blindness-icon($width: $size, $height: $size);
      @include sprite;
    }
  }
}
