/*-----------------------
Image Content
-----------------------*/
.left-header{
  @include media($tablet){
    @include span-columns(4 of 12);
  }

  img{
    @include rem(margin-bottom, 30px);
    width: 80%;
    @include media($tablet){ @include rem(margin-bottom, 0); }
  }
}
.description{
  @include media($tablet){
    @include span-columns(8 of 12);
  }

  .link-block{
    a{ @include rem(margin-right, 10px); }
  }
}

/*-----------------------
Callout
-----------------------*/
.callout{
  background-color: $white-light;
  border-top: 1px solid $white-med;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

/*-----------------------
Link Index
-----------------------*/
.link-index-container{
  h2{
    border-bottom: 3px solid $magenta-base;
    color: $magenta-base;
    @include rem(margin-bottom, 15px);
    @include rem(padding-bottom, 15px);
  }

  ul{
    @include media($tablet){
     @include columns(3);
    }
    li{ margin: 0; }

    a{
      display: inline-block;
      @include rem(margin, 15px 0);
      @include media($tablet){
        //@include span-columns(4 of 12);
        //@include omega(3n);
      }
    }
  }
}


/*-----------------------
Related Links
-----------------------*/
.related-links{
  border-top: 1px solid $white-med;
  display: inline-block;
  width: 100%;

  h5{
    color: $grey-light;
    @include media($tablet){
      margin: 0;
      @include span-columns(2 of 12);
      @include rem(margin-top, 10px);
    }
  }

  .related-links-container{
    @include rem(padding, 20px);
    @include media($tablet){ @include rem(padding, 40px 20px); }
  }

  ul{
    display: inline-block;
    @include media($tablet){ @include span-columns(10 of 12); }
  }
  li{
    display: inline-block;
    @include rem(margin, 0  10px 0 0);

    a{
      @include rem(margin, 5px 0px);
      @include s-tiny;
      @include media($tablet){ @include s-small; }
    }
  }
}


/*-----------------------
Page Header
-----------------------*/

.page-callout {
  background-color: $white-light;
  position: relative;

  @include media($tablet) { min-height: 100px; }

  h4, p { text-align: left; max-width: 600px; }
  h4 a{ @include font-type($primary-slab-serif, normal, 900); }

  .image-block {
    @include background-size(cover);
    @include media($tablet) {
      height: 100%;
      @include position(absolute, 0 null 0 null);
      width: 50%;
    }
  }

  .text-container {
      @include outer-container();
      @include base-padding;

    .text-block {
      @include media($tablet) {
        width: 40%;
        //@include span-columns(5.5 of 12);
        //@include vertical-center;
        //@include shift(6 of 12);
        //right:20px;
      }

      p { @include s-medium;}

    }
  }
}


/*-----------------------
Arrow for Link
-----------------------*/

.arrow{
  &:after{
    content: "\2192";
    display: inline-block;
    @include rem(margin-left, 7px);
  }
}

/*
.arrow{
  &:after{
    content: "";
    background: url('../images/arrow.svg') no-repeat;
    display: inline-block;
    @include rem(margin-left, 7px);
    height: 20px;
    width: 20px;
    background-size: 100%;
  }
}
*/

/*-----------------------
Paragraph Block
-----------------------*/
.paragraph-container{
  @include media($tablet) {
    @include span-columns(7 of 12);
    @include shift(2.5);
  }
}

.secondary-links{
  h4, a { color: $white-base; }

  h4{
    opacity: 0.5;
    @include media($tablet){
      border-bottom: 2px solid $white-base;
      @include rem(padding-bottom, 15px);
    }
  }

  a{
    display: inline-block;
    @include rem(margin, 8px 0);
    opacity: 0.5;


    @include media($tablet) { @include rem(margin, 10px 0 0 0); }

    &:hover{
      opacity: 1;
    }
  }

  &.text-container .text-block{
    @include media($tablet) {
      width: 30%;
      right: 0;
      padding: 0 3%;
    }
  }
}

/*-----------------------
Accordion for Mobile
-----------------------*/
.accordion {
  ul.submenu {
    display: none;
    background-color: rgba(0, 0, 0, 0.2);
    @include rem(padding, 20px);

    @include media($tablet) {
      display: block;
      background-color: transparent;
      padding: 0;
    }
  }

  .is-expanded {
    display: block;
  }

  .js-accordion-trigger{
    background-color: rgba(0, 0, 0, 0.2);
    @include rem(padding, 20px);
    width: 100%;
    margin: 0;
    position: relative;

    @include media($tablet) { display: none; }

    &:after{
      content:"\25be";
      display: block;
      @include position(absolute, 20px 20px null null);
      @include s-bigger;
    }
  }
}


/*-----------------------
Featured Content
-----------------------*/
.featured-content{
  position: relative;

  .image-block {
    @include background-size(cover);
    height:300px;

    @include media($tablet) {
      border-right: 5px solid white;
      height: 100%;
      @include position(absolute, 0 null 0 null);
      width: 50%;
    }
  }
}

.feature-blocks{

  @include media($tablet) {
    margin-left: 50%;
    width: 50%;
  }

  h4, p, a { color: $white-base; }

  .feature-block{
    position: relative;

    &:first-child{
      background-color: #48CBD9;
      border-top: 5px solid $white-base;
      border-bottom: 5px solid $white-base;

     @include media($tablet) {
      border-right: 5px solid $white-base;
      border-top: none;
      float: left;
      width: 50%;
      min-height: 250px;
     }
    }

    &:nth-child(2){
      background-color: #FF4F5C;
      border-bottom: 5px solid $white-base;

      @include media($tablet) {
       float: left;
       width: 50%;
       min-height: 250px;
      }
    }

    &:nth-child(3){
      background-color: #363A42;
      border-bottom: 5px solid $white-base;

      @include media($tablet) {
        border: none;
      width: 100%;
      display: inline-block;
      min-height: 250px;
      }
    }

    .feature-text{
      @include rem(padding, 20px 20px 60px);

      @include media($tablet) {
        @include vertical-center;
      }
    }
  }

  a{
    background-color: rgba(0, 0, 0, 0.2);
    @include position(absolute, null 0px 0px 0px);
    @include rem(padding, 12px 20px);
    opacity: 0.5;
    &:hover{
      background-color: rgba(0, 0, 0, 0.4);
    }
  }
}

/*-----------------------
Calendar
-----------------------*/
/*
.date{
  text-align: center;
  background-color: $grey-base;
  color: $white-base;
  display: inline-block;
  @include rem(padding, 8px 15px 5px);
  line-height: 1;
  text-transform: uppercase;
  float: left;

  strong{
    display: block;
    font-weight: $bold;
    @include s-huge;
  }
}
*/

.date{
  text-align: center;
  background-color: $grey-base;
  color: $white-base;
  //display: inline-block;
  @include rem(padding, 9px 11px 6px);
  line-height: 1;
  text-transform: uppercase;
  float: left;
  @include rem(margin-right, 20px);

  strong{
    display: block;
    font-weight: $bold;
    @include s-large;
  }
}


.calendar-blocks{
  li{
    display: inline-block;
    @include rem(margin-bottom, 20px);

    &:last-child{ margin-bottom: 0px; }

    @include media($tablet) {
      @include span-columns(6 of 12);
      @include omega(2n);
    }
  }
}

.event-details{
  float: left;
  //display: inline-block;
  width: calc(100% - 80px);
}
/*-----------------------
Image Text Container
-----------------------*/
.intro-description{
  background-color: $white-light;
  @include rem(margin-top, 5px);
}

.image-text-container{
  border-bottom: 1px solid $white-med;

  &:last-child{
    border-bottom: none;
  }
}

#{$all-buttons} {
  @include appearance(none);
  background-color: $teal-base;
  border-radius: 20em;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $primary-sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: $bold;
  line-height: 1;
  @include s-small;
  @include rem(padding, 15px 12px);
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
  @include transition(0.3s ease-in-out);
  @include media($tablet){ width: 200px; }

  &:hover,
  &:focus {
    background-color: shade($teal-base, 20%);
    color: #fff;
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $teal-dark;
    }
  }
}

.footer-block{
  #{$all-buttons} {
    background-color: $white-base;
    border-radius: 0px;
    color: $purple-dark;
    height: 41px;
    line-height: 0.6;
    opacity: 0.4;
    width: 20%;

    &:hover{ opacity: 1; }
  }
}