/*-----------------------
Image Content
-----------------------*/
.left-header{
  @include media($tablet){
    @include span-columns(4 of 12);
  }

  img{
    @include rem(margin-bottom, 30px);
    width: 80%;
    @include media($tablet){ @include rem(margin-bottom, 0); }
  }
}
.description{
  @include media($tablet){
    @include span-columns(8 of 12);
  }

  .link-block{
    a{ @include rem(margin-right, 10px); }
  }
}

/*-----------------------
Callout
-----------------------*/
.callout{
  background-color: $white-light;
  border-top: 1px solid $white-med;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

/*-----------------------
Link Index
-----------------------*/
.link-index-container{
  h2{
    border-bottom: 3px solid $magenta-base;
    color: $magenta-base;
    @include rem(margin-bottom, 15px);
    @include rem(padding-bottom, 15px);
  }

  ul{
    @include media($tablet){
     @include columns(3);
    }
    li{ list-style: none; margin: 0; }

    a{
      display: inline-block;
      @include rem(margin, 15px 0);
      @include media($tablet){
        //@include span-columns(4 of 12);
        //@include omega(3n);
      }
    }
  }
}


/*-----------------------
Related Links
-----------------------*/
.related-links{
  border-top: 1px solid $white-med;
  display: inline-block;
  width: 100%;

  h5{
    color: $grey-light;
    @include media($tablet){
      margin: 0;
      @include span-columns(2 of 12);
      @include rem(margin-top, 10px);
    }
  }

  .related-links-container{
    @include rem(padding, 20px);
    @include media($tablet){ @include rem(padding, 40px 20px); }
  }

  ul{
    display: inline-block;
    @include media($tablet){ @include span-columns(10 of 12); }
  }
  li{
    display: inline-block;
    @include rem(margin, 0  10px 0 0);

    a{
      @include rem(margin, 5px 0px);
      @include s-tiny;
      @include media($tablet){ @include s-small; }
    }
  }
}


/*-----------------------
Page Header
-----------------------*/

.page-callout {
  background-color: $teal-base;
  position: relative;

  @include media($tablet) { min-height: 100px; }

  h4, p { text-align: left; max-width: 600px; color: $white-base; }
  h4 a{ @include font-type($primary-slab-serif, normal, 900); color: $teal-dark; }

  .image-block {
    @include background-size(cover);
    height: 300px;
    border-bottom: 5px solid $white-base;

    @include media($tablet) {
      border-bottom: none;
      height: 100%;
      @include position(absolute, 0 null 0 null);
      width: 50%;
    }
  }

  ul{
    @include media($tablet-landscape) {
      @include rem(margin-top, -45px);
    }
  }

  .text-wrapper {
    @include base-padding;

    @include media($tablet) {
      width: 50%;
    }

    .text-content{
      @include media($tablet-landscape) {
        @include center;
        max-width: 500px;
      }
    }

    .text-block {
      list-style: none;
      margin-left: 0;
      @include rem(margin-bottom, 30px);

      @include media($tablet-landscape) {
        max-width: 500px;
        @include center;
        max-width: 500px;
        width: inherit;
        @include rem(margin-left, 60px);
      }

      p { @include s-medium; }

    }
  }

  a.arrow{
    background-color: rgba(0, 0, 0, 0.2);
    color: $white-base;
    @include position(absolute, null 0px 0px 0px);
    width: 100%;
    @include rem(padding, 12px 20px);
    opacity: 0.5;

    @include media($tablet){ width: 50%; }

    &:hover{
      background-color: rgba(0, 0, 0, 0.4);
    }
  }
}

.position-text {
  @include media($tablet-landscape){
    transform: translateX(-100%);
  }
}

.rotate-text {
  opacity: 0.5;
  color: $white-base;

  @include media($tablet-landscape){
    transform: rotate(-90deg);
    transform-origin: right top;
    text-align: right;
    opacity: 0.3;
  }
}

/*-----------------------
Arrow for Link
-----------------------*/

.arrow{
  &:after{
    content: "\2192";
    display: inline-block;
    @include rem(margin-left, 7px);
  }
}

/*-----------------------
Paragraph Block
-----------------------*/
.paragraph-container{
  @include media($tablet) {
    @include span-columns(7 of 12);
    @include shift(2.5);
  }
}





/*-----------------------
Featured Content
-----------------------*/
.featured-content{
  position: relative;

  .image-block {
    @include background-size(cover);
    height: 300px;

    @include media($tablet-landscape) {
      border-right: 5px solid white;
      height: 100%;
      @include position(absolute, 0 null 0 null);
      width: 50%;
    }
  }
}

.feature-blocks{

  @include media($tablet) {
    border-top: 5px solid $white-base;
  }

  @include media($tablet-landscape) {
    border-top: none;
    margin-left: 50%;
    width: 50%;
  }

  h4, p, a { color: $white-base; }
  p{ @include s-small; }

  .feature-block{
    position: relative;

    &:first-child{
      background-color: $teal-base;
      border-top: 5px solid $white-base;
      border-bottom: 5px solid $white-base;

     @include media($tablet) {
      border-right: 5px solid $white-base;
      border-top: none;
      float: left;
      width: 50%;
      min-height: 250px;
     }
    }

    &:nth-child(2){
      background-color: #FF4F5C;
      border-bottom: 5px solid $white-base;

      @include media($tablet) {
       float: left;
       width: 50%;
       min-height: 250px;
      }
    }

    &:nth-child(3){
      background-color: #363A42;
      border-bottom: 5px solid $white-base;

      @include media($tablet) {
        border: none;
        width: 100%;
        display: inline-block;
        min-height: 250px;
      }

      .feature-text{
        @include media($tablet) { max-width: 600px; }
      }
    }

    .feature-text{
      @include rem(padding, 20px 20px 60px);

      @include media($tablet) {
        @include vertical-center;
      }
    }
  }

  a{
    background-color: rgba(0, 0, 0, 0.2);
    @include position(absolute, null 0px 0px 0px);
    @include rem(padding, 12px 20px);
    opacity: 0.5;
    &:hover{
      background-color: rgba(0, 0, 0, 0.4);
    }
  }
}

/*-----------------------
Calendar
-----------------------*/
/*
.date{
  text-align: center;
  background-color: $grey-base;
  color: $white-base;
  display: inline-block;
  @include rem(padding, 8px 15px 5px);
  line-height: 1;
  text-transform: uppercase;
  float: left;

  strong{
    display: block;
    font-weight: $bold;
    @include s-huge;
  }
}
*/
.calendar-container{
  h3{
    border-bottom: 3px solid $grey-base;
    @include rem(margin-bottom, 15px);
    @include rem(padding-bottom, 15px);
  }
}

.date{
  text-align: center;
  background-color: $grey-light;
  color: $white-base;
  @include rem(padding, 9px 11px 6px);
  line-height: 1;
  text-transform: uppercase;
  float: left;
  @include rem(margin-right, 20px);

  strong{
    display: block;
    font-weight: $bold;
    @include s-large;
  }
}


.calendar-blocks{
  li{
    display: inline-block;
    margin: 0;
    @include rem(margin-top, 30px);

    @include media($tablet) {
      @include span-columns(6 of 12);
      @include omega(2n);
      //@include rem(margin-top, 50px);
    }
  }
}

.event-details{
  float: left;
  width: calc(100% - 80px);

  @include media($tablet) {  width: calc(100% - 100px); }
}


/*-----------------------
Image Text Container
-----------------------*/
.intro-description{
  background-color: $white-light;
  @include rem(margin-top, 5px);
}

.image-text-container{
  border-bottom: 1px solid $white-med;

  &:last-of-type{
    border-bottom: none;
  }
}