---
title: Contact Us
---

<header class="page-header">
  <div class="image-block" style="background: url('images/eye-problems.jpg') no-repeat center; background-size: cover;"></div>
  <div class="text-container">
    <div class="text-block">
      <h1 class="home-header">Contact Us</h1>
      <p class="subheader">Prevent Blindness America is committed to providing help and hope to Americans of all ages as they strive to maintain healthy vision for a lifetime. Taking care of your eyes and learning about your health is a first step to preventing vision loss from common eye problems.</p>
    </div>
  </div>
</header>

<section class="form-container">
  <form>
    <div>
      <div class="form-block">
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="email" placeholder="Email">
        <input type="text" name="phone" placeholder="Phone Number">
      </div>
      <div class="form-block">
        <textarea type="text" name="message" placeholder="How can we help?"></textarea>
      </div>
    </div>
    <input type="submit" value="Submit">
  </form>
</section>