---
title: Contact Us
---

<header class="page-header">
  <div class="image-block" style="background: url('images/eye-problems.jpg') no-repeat center; background-size: cover;"></div>
  <div class="text-container">
    <div class="text-block">
      <h1>Contact Us</h1>
      <p class="subheader">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et tellus vel mi viverra dignissim ullamcorper at dolor. Nulla ultrices commodo ligula, at posuere nibh. Sed eget lobortis neque.</p>
    </div>
  </div>
</header>
<div>
<section class="image-text-container">
  <div class="left-header">
    <h3>Our Headquarters</h3>
  </div>
  <div class="description">
    <h4>Email</h4>
    <a href="">info@preventblindness.org</a>
    <h4>Phone</h4>
    <a href="">1-800-331-2020</a>
    <p>8:30 a.m. - 5:00 p.m. CST<br>Monday through Friday</p>
    <h4>Address</h4>
    <a href="">211 West Wacker Drive, Suite 1700<br>
    Chicago, Illinois 60606</a>
  </div>
</section>
</div>
<section class="form-blocks">
  <form class="form-container">
    <div>
      <div class="form-block">
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="email" placeholder="Email">
        <input type="text" name="phone" placeholder="Phone Number">
      </div>
      <div class="form-block">
        <textarea type="text" name="message" placeholder="How can we help?"></textarea>
      </div>
    </div>
    <input type="submit" value="Submit">
  </form>
</section>