---
title: Diabetic Macular Edema (DME)
---

<header class="page-header right-image">
  <div class="image-block" style="background: url('images/eye-problems.jpg') no-repeat center top; background-size: cover;"></div>
  <div class="text-container">
    <div class="text-block">
      <h1 class="home-header">Diabetic Macular Edema (DME)</h1>
      <p class="subheader">Vision loss from DME can progress over a period of months and make it impossible to focus clearly.</p>
      <a href="#" class="button-black-base">Download Fact Sheet</a>
    </div>
  </div>
</header>

<section class="intro-description">
  <div class="image-text-container">
    <div class="left-header">
      <h3>What is it?</h3>
    </div>
    <div class="description">
      <p>Diabetes is the leading cause of new blindness in the United States, with DME contributing greatly to this vision loss. DME may affect up to 10% of people with diabetes. DME is a complication of diabetes caused by fluid accumulation in the macula that can affect the fovea. The macula is the central portion in the retina which is in the back of the eye and where vision is the sharpest.Vision loss from DME can progress over a period of months and make it impossible to focus clearly.</p>
    </div>
  </div>
</section>

<section class="image-text-container">
  <div class="left-header">
    <h3>Causes of DME</h3>
  </div>
  <div class="description">
    <p>DME is an eye condition which can occur in people living with diabetes - both type 1 and type 2. Consistently high blood sugar due to poor glucose control over time can damage small blood vessels in the body, including the eye. Diabetic retinopathy is a disease that damages the blood vessels in the retina, resulting in vision impairment. Left untreated, fluid can leak into the center of the macula, called the fovea, the part of the eye where sharp, straight-ahead vision occurs. The fluid makes the macula swell, blurring vision. This condition is called DME. It can occur at any stage of diabetic retinopathy, although it is more likely to occur as the disease progresses.</p>
  </div>
</section>

<section class="image-text-container">
  <div class="left-header">
    <h3>Symptoms</h3>
  </div>
  <div class="description">
    <p>People who have diabetes are at risk of developing DME over time. A person with diabetes should have their vision checked yearly, or as directed by their eye doctor.  Vision changes due to DME are:</p>
    <ul>
      <li>Blurred vision</li>
      <li>Double vision</li>
      <li>Sudden increase in eye floaters</li>
    </ul>
  </div>
</section>

<section class="image-text-container">
  <div class="left-header">
    <h3>What increases risk for DME?</h3>
  </div>
  <div class="description">
    <p>Increased risk of DME is associated with:</p>
    <ul>
      <li>Poor glucose control over a long period of time</li>
      <li>Increased length of time living with diabetes- The lifetime risk of developing DME for people with diabetes is about 10%.</li>
      <li>Type of diabetes - After living with diabetes for 20 years, nearly all with type 1 and 60% with type 2 diabetes will have some diabetic retinopathy. It usually does not affect vision in the early stages.</li>
      <li>Very high blood pressure</li>
      <li>Fluid retention</li>
      <li>Kidney disease</li>
      <li>High fat levels in the blood (hyperlipidemia)</li>
      <li>Pregnancy – Women who develop diabetes during pregnancy are at risk for diabetic retinopathy and DME.</li>
    </ul>
  </div>
</section>

<section class="image-text-container">
  <div class="left-header">
    <h3>Prevention</h3>
  </div>
  <div class="description">
    <ul>
      <li>Maintaining good blood sugar, blood pressure, and cholesterol control helps prevent DME.</li>
      <li>Receiving a comprehensive dilated eye exam at least once a year, or more often as directed by the eye doctor.</li>
      <li>Pregnant woman with diabetes should have a comprehensive dilated eye exam as soon as possible. The eye doctor may recommend additional exams during pregnancy.</li>
      <li>Maintaining a healthy lifestyle, exercising regularly, and having a healthy diet. Talk to a doctor before starting an exercise program.</li>
    </ul>
  </div>
</section>

<section class="image-text-container">
  <div class="left-header">
    <h3>How is it diagnosed?</h3>
  </div>
  <div class="description">
    <p>People living with diabetes are advised to have a comprehensive dilated eye exam at least once a year, or more often as directed by the eye doctor. If blurred vision occurs, the patient should visit an eye doctor immediately. At the visit, the eye doctor will conduct the following tests.</p>
    <ul>
      <li><strong>Visual acuity:</strong> This will determine how well a person can see through his or her central vision and if there is a decrease in visual acuity.</li>
      <li><strong>Dilation:</strong> The eye doctor will dilate, widen the pupil of the eye, with eye drops to allow a closer look at the inside of the eye.</li>
    </ul>
    <p>If the eye doctor suspects DME, then the following tests may be conducted:</p>
    <ul>
      <li><strong>Optical coherence tomography (OCT):</strong> The OCT examination provides a cross sectional image of the eye which can show if the macula is thickened or if fluid is leaking.</li>
      <li><strong>Fluorescein angiography:</strong> During this test, a dye is injected into the arm that “lights up” the blood vessels in the eye while multiple photos are taken of the back of the eye.  These images will show if there are new blood vessels in macula and /or there is leaking of dye to determine if an individual has DME.</li>
    </ul>
  </div>
</section>
<div>
<section class="image-text-container">
  <div class="left-header">
    <h3>Treatment</h3>
  </div>
  <div class="description">
    <p>As with all complications of diabetes, successful management of macular edema requires good control of the diabetes itself. Each of these treatments has their own benefits and risks. Consultation and discussion with the eye doctor is needed to determine the best treatment for an individual’s situation.</p>
    <ul>
      <li><strong>Focal Laser:</strong> Laser light is used to close and destroy leaking blood vessels. This form of laser therapy does not typically cause pain. The treatment may leave permanent blind spots in a person’s vision. But it also helps to slow or stop the growth of new blood vessels that could damage vision even more. It helps protect the vision that remains and may slightly improve vision.</li>
      <li><strong>Anti-vascular endothelial growth factor (anti-VEGF) drugs:</strong> These drugs block the development of new blood vessels and limit the leakage from the abnormal blood vessels in the eye. They are delivered through an injection into the eye, administered by an ophthalmologist, usually a retinal specialist. While some pressure will be felt during the injection, the eye is first numbed to minimize any discomfort. Several injections over time are needed in this treatment (frequency of injections varied based on the drug selected and the eye doctor’s judgment).</li>
      <li><strong>Corticosteroids:</strong> This treatment involves an injection of steroids into the eye or an injectable steroid eye implant to release the drug over time to decrease DME and improve vision.</li>
    </ul>
  </div>
</section>

<section class="image-text-container">
  <div class="left-header">
    <h3>Living Well with Low Vision</h3>
  </div>
  <div class="description">
    <p>If you or someone you know has lost some sight to DME, low vision aids can help you stay independent. Special training, called vision rehabilitation, can provide skills for living with low vision. A low vision specialist will help determine the right combination of aids for your needs. Ask your eye doctor about the possibility of seeing a low vision specialist. Low vision aids include:</p>
    <ul>
      <li>Magnifying glasses, screens and stands</li>
      <li>Telescopic lenses</li>
      <li>High-intensity reading lamps</li>
      <li>Large-print newspapers, magazines and books</li>
      <li>Close-circuit TVs that magnify a printed page on screen</li>
      <li>Computers and tablets</li>
    </ul>
  </div>
</section>
</div>

<section class="callout">
  <div class="image-text-container">
    <div class="left-header">
      <img src="http://lowvision.preventblindness.org/lvwp/wp-content/themes/low-vision/images/low-vision-header.gif">
    </div>
    <div class="description">
      <p>Living Well with Low Vision is an online resource to educate those with loss of vision on how maintain their independence and quality of life. Learn more at lowvision.preventblindness.org.</p>
      <a href="#" class="arrow">Learn More</a>
    </div>
  </div>
</section>
<section class="related-links">
  <div class="related-links-container">
    <h5>Related Links</h5>
    <ul>
      <li><a href="#" class="button-grey-outline">Eye & Vision Glossary</a></li>
      <li><a href="#" class="button-grey-outline">Downloads</a></li>
      <li><a href="#" class="button-grey-outline">Share Your Story</a></li>
      <li><a href="#" class="button-grey-outline">The Eye & How We See</a></li>
      <li><a href="#" class="button-grey-outline">Downloads</a></li>
      <li><a href="#" class="button-grey-outline">Eye & Vision Glossary</a></li>
      <li><a href="#" class="button-grey-outline">Share Your Story</a></li>
      <li><a href="#" class="button-grey-outline">The Eye & How We See</a></li>
    </ul>
  </div>
</section>