---
title: Diabetic Macular Edema (DME)
---

<header class="page-header right-image">
  <div class="image-block" style="background: url('images/eye-problems.jpg') no-repeat center top; background-size: cover;"></div>
  <div class="text-container">
    <div class="text-block">
      <h1 class="home-header">Diabetic Macular Edema (DME)</h1>
      <p class="subheader">Vision loss from DME can progress over a period of months and make it impossible to focus clearly.</p>
      <a href="#" class="button-black-base">Download Fact Sheet</a>
    </div>
  </div>
</header>