---
title: Eye Problems
---

<header class="page-header">
  <div class="image-block" style="background: url('images/eye-problems.jpg') no-repeat center; background-size: cover;"></div>
  <div class="text-container">
    <div class="text-block">
      <h1>Eye Problems in Adults & Children</h1>
      <p class="subheader">Prevent Blindness America is committed to providing help and hope to Americans of all ages as they strive to maintain healthy vision for a lifetime. Taking care of your eyes and learning about your health is a first step to preventing vision loss from common eye problems.</p>
    </div>
  </div>
</header>

<section class="link-index-container">
  <h2>Common Eye Problems</h2>
  <ul>
    <li><a href="#">AMD</a></li>
    <li><a href="#">Amblyopia (Lazy Eye)</a></li>
    <li><a href="#">Astigmatism</a></li>
    <li><a href="#">Cataract</a></li>
    <li><a href="#">Color Blindness</a></li>
    <li><a href="#">Conjunctivitis (Pink Eye) </a></li>
    <li><a href="#">Diabetes and Your Eyes</a></li>
    <li><a href="#">Diabetic Macular Edema</a></li>
    <li><a href="#">Diabetic Retinopathy</a></li>
    <li><a href="#">Dry AMD</a></li>
    <li><a href="#">Dry Eye</a></li>
    <li><a href="#">Floaters</a></li>
    <li><a href="#">Glaucoma</a></li>
    <li><a href="#">Hyperopia (Farsightedness)</a></li>
    <li><a href="#">Myopia (Nearsightedness)</a></li>
    <li><a href="#">Presbyopia</a></li>
    <li><a href="#">Retinal Tears and Detachments</a></li>
    <li><a href="#">Retinal Vein Occlusion</a></li>
    <li><a href="#">Retinitis Pigmentosa</a></li>
    <li><a href="#">Strabismus</a></li>
    <li><a href="#">Symptomatic Vitreomacular Adhesion</a></li>
    <li><a href="#">Uveitis</a></li>
  </ul>
</section>

<section class="callout">
  <div class="image-text-container">
    <div class="left-header">
      <img src="http://lowvision.preventblindness.org/lvwp/wp-content/themes/low-vision/images/low-vision-header.gif">
    </div>
    <div class="description">
      <p>Living Well with Low Vision is an online resource to educate those with loss of vision on how maintain their independence and quality of life. Learn more at lowvision.preventblindness.org.</p>
      <a href="#" class="arrow">Learn More</a>
    </div>
  </div>
</section>

<section class="related-links">
  <div class="related-links-container">
    <h5>Related Links</h5>
    <ul>
      <li><a href="#" class="button-grey-outline">Eye & Vision Glossary</a></li>
      <li><a href="#" class="button-grey-outline">Downloads</a></li>
      <li><a href="#" class="button-grey-outline">Share Your Story</a></li>
      <li><a href="#" class="button-grey-outline">The Eye & How We See</a></li>
    </ul>
  </div>
</section>