---
title: Glaucoma
---

<header class="page-header subpage-header">
  <div class="image-block" style="background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('images/eye-problems.jpg') no-repeat center top; background-size: cover;">
    <div class="text-container test1">
      <div class="text-block">
        <h1>What is Glaucoma?</h1>
        <p class="subheader">Glaucoma is an eye disease that causes loss of sight by damaging a part of the eye called the optic nerve. This nerve sends information from your eyes to your brain.</p>
      </div>
    </div>
  </div>
  <div class="text-container secondary-links">
    <div class="text-block accordion">
      <h4 class="home-header">Glaucoma Learning Center</h4>
      <a href="javascript:void(0)" class="js-accordion-trigger">Learn More</a>
      <ul class="submenu">
        <li><a href="#">What is Glaucoma?</a></li>
        <li><a href="#">Types of Glaucoma</a></li>
        <li><a href="#">How Does Glaucoma Damage My Eyes?</a></li>
        <li><a href="#">Glaucoma Risk Factors</a></li>
        <li><a href="#">How Do Eye Doctors Check for Glaucoma</a></li>
        <li><a href="#">Treating Glaucoma</a></li>
        <li><a href="#">Living With Glaucoma</a></li>
      </ul>
    </div>
  </div>
</header>

<section class="one-column-container">
    <p>When glaucoma damages your optic nerve, you begin to lose patches of vision, usually side vision (peripheral vision). Over time, glaucoma may also damage straight ahead (central) vision. You may not notice a loss of side vision until you have lost a great deal of your sight. When checking for glaucoma, eye doctors usually look for damage to the optic nerve and any loss of side vision. They may also check your eye pressure.</p>
    <p>Glaucoma is often called "the sneak thief of sight." That’s because people usually do not notice any signs of the disease until they have already lost significant vision. Once lost, vision can't be restored. More than 2.7 million Americans age 40 and older have open angle glaucoma, the most common form of glaucoma. At least half don't even know they have it.</p>
</section>

<section class="callout">
  <div class="image-text-container">
    <div class="left-header">
      <img src="https://ds5cvxtqu2rt0.cloudfront.net/media/local/page_specific/PBA/PB_Logo_highres.jpg" class="logo">
    </div>
    <div class="description">
      <p>The Glaucoma Educator Course is a self-guided course for healthcare professionals, community health educators, diabetes educators, and anyone responsible for diabetes education for patients or clients.</p>
      <p>The course equips health educators with important patient education messages about glaucoma and strategies for prevention early diagnosis.</p>
    </div>
  </div>
</section>

<section class="related-links">
  <div class="related-links-container">
    <h5>Related Links</h5>
    <ul>
      <li><a href="#" class="button-grey-outline">Eye & Vision Glossary</a></li>
      <li><a href="#" class="button-grey-outline">Downloads</a></li>
      <li><a href="#" class="button-grey-outline">Share Your Story</a></li>
      <li><a href="#" class="button-grey-outline">The Eye & How We See</a></li>
      <li><a href="#" class="button-grey-outline">Downloads</a></li>
      <li><a href="#" class="button-grey-outline">Eye & Vision Glossary</a></li>
      <li><a href="#" class="button-grey-outline">Share Your Story</a></li>
      <li><a href="#" class="button-grey-outline">The Eye & How We See</a></li>
    </ul>
  </div>
</section>