---
title: Glaucoma
---

<header class="page-header right-image">
  <div class="image-block">
    <figure class="image-comparison">
      <div class="disease-image" style="background: url('images/eye-problems-example.jpg') no-repeat;  background-size: cover;">
        <span class="cd-image-label" data-type="original">Glaucoma</span>
      </div>
      <div class="cd-resize-img">
        <div class="disease-image" style="background: url('images/eye-problems.jpg') no-repeat;  background-size: cover;">
          <span class="cd-image-label" data-type="modified">Normal Vision</span>
        </div>
      </div>
     <span class="cd-handle"></span>
    </figure>
  </div>
  <div class="text-container">
    <div class="text-block">
      <h1 class="home-header">Glaucoma</h1>
      <p class="subheader">It may produce a blind spot, blurred vision  or shadowy lines.</p>
      <a href="#" class="button-black-base" download>Download Fact Sheet</a>
    </div>
  </div>
</header>

<section class="intro-description">
  <div class="image-text-container">
    <div class="left-header">
      <h3>What is it?</h3>
    </div>
    <div class="description">
      <p>Glaucoma is an eye disease that causes loss of sight by damaging a part of the eye called the optic nerve. This nerve sends information from your eyes to your brain. When glaucoma damages your optic nerve, you begin to lose patches of vision, usually side vision (peripheral vision).</p>
      <a href="#" class="arrow">Learn More</a>
    </div>
  </div>
</section>
<div>
<section class="image-text-container">
  <div class="left-header">
    <h3>Types of Glaucoma</h3>
  </div>
  <div class="description">
    <p>There are many types of glaucoma. Often, the cause of high pressure in the eye can help tell the type of glaucoma and the best treatment for it.</p>
    <a href="#" class="arrow">Learn More</a>
  </div>
</section>
<section class="image-text-container">
  <div class="left-header">
    <h3>How Does Glaucoma Damage My Eyes?</h3>
  </div>
  <div class="description">
    <p>Doctors don't know exactly how glaucoma damages the optic nerve. For many people, increased eye pressure seems to play an important role.</p>
    <a href="#" class="arrow">Learn More</a>
  </div>
</section>
<section class="image-text-container">
  <div class="left-header">
    <h3>Are You at Risk?</h3>
  </div>
  <div class="description">
    <p>Age, race, family history, and medical history are all risk factors that may increase your chance of having glaucoma.</p>
    <a href="#" class="arrow">Learn More</a>
  </div>
</section>
<section class="image-text-container">
  <div class="left-header">
    <h3>Risk Assessment</h3>
  </div>
  <div class="description">
    <p>This self assessment will help you determine whether you are at risk for age-related eye disease. If you suspect that you are no seeing correctly or are having an eye problem, you should arrange for a professional eye exam, regardless of the results of this risk assessment.</p>
    <a href="#" class="arrow">Learn More</a>
  </div>
</section>
<section class="image-text-container">
  <div class="left-header">
    <h3>How do Eye Doctors Check for Glaucoma?</h3>
  </div>
  <div class="description">
    <p>There are three major signs that a person may have glaucoma: optic nerve damage, vision loss (visual field loss) and increased eye pressure (elevated intraocular pressure). Your eye doctor has a number of tests to check for these signs.</p>
    <a href="#" class="arrow">Learn More</a>
  </div>
</section>
<section class="image-text-container">
  <div class="left-header">
    <h3>Treatment</h3>
  </div>
  <div class="description">
    <p>Glaucoma can usually be treated and controlled using medicine(s), laser surgery, glaucoma surgery or a combination of these treatments.</p>
    <a href="#" class="arrow">Learn More</a>
  </div>
</section>
<section class="image-text-container">
  <div class="left-header">
    <h3>Taking Eye Drop Medications</h3>
  </div>
  <div class="description">
    <p>A simple technique can help keep more medicine in your eye and make glaucoma medicines more effective.</p>
    <a href="#" class="arrow">Learn More</a>
  </div>
</section>
<section class="image-text-container">
  <div class="left-header">
    <h3>Living with Glaucoma</h3>
  </div>
  <div class="description">
    <p>You must work with your eye doctor if you have glaucoma. Eye doctors know how to treat glaucoma, but they have to work with you to find the best way to treat your disease.</p>
    <a href="#" class="arrow">Learn More</a>
  </div>
</section>
<section class="image-text-container">
  <div class="left-header">
    <h3>Medicare Benefits & Your Eyes</h3>
  </div>
  <div class="description">
    <p>The Welcome to Medicare Physical covers screening for glaucoma.</p>
    <a href="#" class="arrow">Learn More</a>
  </div>
</section>
<section class="image-text-container">
  <div class="left-header">
    <h3>Vision Care Financial Assistance Resources</h3>
  </div>
  <div class="description">
    <p>Contact information for organizations and services that may be able to help with the cost of vision care.</p>
    <a href="#" class="arrow">Learn More</a>
  </div>
</section>
<section class="callout">
  <div class="image-text-container">
    <div class="left-header">
      <img src="http://lowvision.preventblindness.org/lvwp/wp-content/themes/low-vision/images/low-vision-header.gif">
    </div>
    <div class="description">
      <p>Living Well with Low Vision is an online resource to educate those with loss of vision on how maintain their independence and quality of life. Learn more at lowvision.preventblindness.org.</p>
      <a href="#" class="arrow">Learn More</a>
    </div>
  </div>
</section>
</div>
<section class="related-links">
  <div class="related-links-container">
    <h5>Related Links</h5>
    <ul>
      <li><a href="#" class="button-grey-outline">Eye & Vision Glossary</a></li>
      <li><a href="#" class="button-grey-outline">Downloads</a></li>
      <li><a href="#" class="button-grey-outline">Share Your Story</a></li>
      <li><a href="#" class="button-grey-outline">The Eye & How We See</a></li>
      <li><a href="#" class="button-grey-outline">Downloads</a></li>
      <li><a href="#" class="button-grey-outline">Eye & Vision Glossary</a></li>
      <li><a href="#" class="button-grey-outline">Share Your Story</a></li>
      <li><a href="#" class="button-grey-outline">The Eye & How We See</a></li>
    </ul>
  </div>
</section>