---
title: Prevent Blindness
---
<header class="page-header home-secondary-header">
  <div class="image-block" style="background-image: url('images/professionals.jpg');"></div>
  <div class="overlay"></div>
  <div class="header-container">
    <div class="header-text">
      <h1>Resources for Professionals</h1>
      <p class="subheader">Vision should not be a barrier to learning, working, playing, or living independently.</p>
      <a href="#" class="button-white-outline">Learn More</a>
    </div>
  </div>
</header>

<div class="image-text">
  <section class="image-text-container">
    <div class="left-content">
      <h3>The Focus Initiative</h3>
    </div>
    <div class="description">
      <p>This event has become a key venue to elevate the national dialogue around vision and significant public health issues such as surveillance, access, prevention messaging, service integration, and program development and replication.  It’s also been a strong springboard to release important new public health information.</p>
      <div class="link-block">
        <a href="#" class="button-teal-outline">Learn More</a>
      </div>
    </div>
  </section>
  <section class="image-text-container">
    <div class="left-content">
      <h3>Training & Education</h3>
    </div>
    <div class="description">
      <p>Prevent Blindness America is committed to ensuring that vision-related information is available, accurate and accessible. Our goal is to increase your knowledge and provide you with strategies to help you maintain healthy vision and keep your eyes safe.</p>
      <div class="link-block">
        <a href="#" class="button-teal-outline">Learn More</a>
      </div>
    </div>
  </section>
  <section class="image-text-container">
    <div class="left-content">
      <h3>The National Center for Children's Vision & Eye Health</h3>
    </div>
    <div class="description">
      <p>The Center is designed to support the development of public health infrastructure to promote and ensure a comprehensive, multi­ tiered continuum of vision care and eye health for young children.  The Center is committed to conducting this work through strong partnerships, sound science, and targeted policy initiatives.</p>
      <div class="link-block">
        <a href="#" class="button-teal-outline">Learn More</a>
      </div>
    </div>
  </section>
</div>