---
title: Prevent Blindness
---
<header class="page-header home-secondary-header">
  <div class="image-block" style="background-image: url('images/home.jpg');"></div>
  <div class="overlay"></div>
  <div class="header-container">
    <div class="header-text">
      <h1>National Center for Children’s Vision & Eye Health</h1>
      <p class="subheader">Vision should not be a barrier to learning, working, playing, or living independently.</p>
      <a href="#" class="button-white-outline">Learn More</a>
    </div>
  </div>
</header>

<div>
  <section class="image-text-container">
    <div class="left-content">
      <img src="images/pb-logo.jpg">
    </div>
    <div class="description">
      <p>Your donation today will fund outreach to people at the highest risk of vision loss. It will support quality vision screenings for preschool and school-aged children and provide access to professional eye care for low income families around the country. Your donation will fund advocacy and research toward the goal of helping more Americans enjoy the gift of sight for a lifetime.</p>
      <div class="link-block">
        <a href="#" class="button-teal-base">Donate</a>
        <a href="#" class="button-teal-outline">Learn More</a>
      </div>
    </div>
  </section>
</div>

<section class="page-callout right-image color-callout">
  <div class="image-block" style="background: url('images/riding-bike.jpg') no-repeat center; background-size: cover;"></div>
    <div class="text-wrapper">
      <div class="text-content">
       <h2>Vision Systems</h2>
       <p>Presently there exists little consistency among stakeholders in children’s vision health in regards to frequency, referral criteria, or follow-up in regards to vision screening referral outcomes. The development of a more uniform approach to children’s vision health systems is critically needed.</p>
      </div>
    </div>
  <a href="#" class="callout-arrow"><span >Learn More</span></a>
</section>
<section class="page-callout left-image">
  <div class="image-block" style="background: url('images/riding-bike.jpg') no-repeat center; background-size: cover;"></div>
    <div class="text-wrapper">
      <div class="text-content">
        <div class="position-text"><h3 class="rotate-text">What's New?</h3></div>
        <ul class="calendar-blocks">
          <li class="text-block">
            <p class="date">Nov<strong>03</strong></p>
            <div class="event-details">
              <h4><a href="#">Person of Vision</a></h4>
              <p>We invite you to join us in honoring our Person of Vision former first lady of the United States, Laura Bush.</p>
            </div>
          </li>
          <li class="text-block">
            <p class="date">Nov<strong>03</strong></p>
            <div class="event-details">
              <h4><a href="#">Person of Vision</a></h4>
              <p>We invite you to join us in honoring our Person of Vision former first lady of the United States, Laura Bush.</p>
            </div>
          </li>
          <li class="text-block">
            <p class="date">Nov<strong>03</strong></p>
            <div class="event-details">
              <h4><a href="#">Person of Vision</a></h4>
              <p>We invite you to join us in honoring our Person of Vision former first lady of the United States, Laura Bush.</p>
            </div>
          </li>
        </ul>
     </div>
   </div>
  <a href="#" class="callout-arrow"><span>View All Events</span></a>
</section>

<section class="three-column-features-container">
  <div class="text-block">
    <img src="images/icon-temp.svg">
    <h4>Latest New</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas commodo et ipsum suscipit eleifend.</p>
    <a href="#" class="arrow">Learn More</a>
  </div>
  <div class="text-block">
    <img src="images/icon-temp.svg">
    <h4>Latest New</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas commodo et ipsum suscipit eleifend.</p>
    <a href="#" class="arrow">Learn More</a>
  </div>
  <div class="text-block">
    <img src="images/icon-temp.svg">
    <h4>Latest New</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas commodo et ipsum suscipit eleifend.</p>
    <a href="#" class="arrow">Learn More</a>
  </div>
</section>

<section class="featured-content">
  <div class="image-block" style="background: url('images/couple-taking-selfie.jpg') no-repeat center top; background-size: cover;"></div>
  <div class="feature-blocks">
    <div class="feature-block">
      <div class="feature-text">
        <h4>Give the Gift of Sight  This Holiday Season</h4>
        <p>Support the sight-saving work of  Prevent Blindness.</p>
      </div>
      <a href="#" class="arrow">Learn More</a>
    </div>
    <div class="feature-block">
      <div class="feature-text">
        <h4>Vision Problems in the U.S.</h4>
        <p>Prevalence of Adult Vision Impairment and Age-Related Eye Disease in America.</p>
      </div>
      <a href="#" class="arrow">Learn More</a>
    </div>
    <div class="feature-block">
      <div class="feature-text">
        <h4>Give the Gift of Sight  This Holiday Season</h4>
        <p>Support the sight-saving work of  Prevent Blindness.</p>
      </div>
      <a href="#" class="arrow">Learn More</a>
    </div>
  </div>
</section>