---
title: Welcome to Middleman
---

<header class="page-header" style="background-image: url('images/home.jpg');">
  <div class="header-container">
    <div class="header-text">
      <h1>A Lifetime of Healthy Vision</h1>
      <p class="subheader">Vision should not be a barrier to learning, working, playing, or living independently.</p>
      <a href="" class="link-white">Play Video</a>
    </div>
  </div>
</header>

