---
title: Prevent Blindness
---
<header class="page-header home-header">
  <div class="image-block" style="background-image: url('images/home.jpg');"></div>
  <video poster="images/home.jpg" autoplay loop>
    <source  id="bgvid"  src="images/pb-video.mp4" type="video/mp4">
  </video>
  <div class="overlay"></div>
  <div class="header-container">
    <div class="header-text">
      <h1>A Lifetime of Healthy Vision</h1>
      <p class="subheader">Vision should not be a barrier to learning, working, playing, or living independently.</p>
      <a href="#" class="link-white-base video-link">Play Video</a>
    </div>
  </div>
</header>

<div>
  <section class="image-text-container">
    <div class="left-content">
      <img src="images/pb-logo.jpg">
    </div>
    <div class="description">
      <p>Your donation today will fund outreach to people at the highest risk of vision loss. It will support quality vision screenings for preschool and school-aged children and provide access to professional eye care for low income families around the country. Your donation will fund advocacy and research toward the goal of helping more Americans enjoy the gift of sight for a lifetime.</p>
      <div class="link-block">
        <a href="#" class="button-teal-base">Donate</a>
        <a href="#" class="button-teal-outline">Learn More</a>
      </div>
    </div>
  </section>
</div>

<section class="page-callout right-image">
  <div class="image-block" style="background: url('images/riding-bike.jpg') no-repeat center; background-size: cover;"></div>
    <div class="text-wrapper">
      <div class="text-content">
        <div class="position-text"><h3 class="rotate-text">What's New?</h3></div>
        <ul>
          <li class="text-block">
            <h4><a href="#">Call for Public Health Award Nominations</a></h4>
            <p>In 2014, more than 193,000 adults and children were treated in hospital emergency rooms in the United States for eye injuries sustained...</p>
          </li>
          <li class="text-block">
            <h4><a href="#">2016 Focus On Eye Health National Summit</a></h4>
            <p>In 2014, more than 193,000 adults and children were treated in hospital emergency rooms in the United States for eye injuries sustained...</p>
          </li>
          <li class="text-block">
            <h4><a href="#">Michael Block, Person of Vision</a></h4>
            <p>In 2014, more than 193,000 adults and children were treated in hospital emergency rooms in the United States for eye injuries sustained...</p>
          </li>
        </ul>
     </div>
   </div>
  <a href="#" class="callout-arrow"><span >View All News</span></a>
</section>

 <section class="calendar-container">
  <h3>Upcoming Events</h3>
  <ul class="calendar-blocks">
    <li>
      <p class="date">Nov<strong>03</strong></p>
      <div class="event-details">
        <h4><a href="#">Person of Vision</a></h4>
        <p>We invite you to join us in honoring our Person of Vision former first lady of the United States, Laura Bush.</p>
      </div>
    </li>
    <li>
      <p class="date">Nov<strong>03</strong></p>
      <div class="event-details">
        <h4><a href="#">Focus on Eye Health National Summit</a></h4>
        <p>Prevent Blindness America will host the second annual “Focus on Eye Health National Summit”.</p>
      </div>
    </li>
    <li>
      <p class="date">Nov<strong>03</strong></p>
      <div class="event-details">
        <h4><a href="#">Swing Fore Sight</a></h4>
        <p>Our annual golf tournament held in conjunction with Vision Expo West.</p>
      </div>
    </li>
    <li>
      <p class="date">Nov<strong>03</strong></p>
      <div class="event-details">
        <h4><a href="#">Swing Fore Sight</a></h4>
        <p>Our annual golf tournament held in conjunction with Vision Expo West.</p>
      </div>
    </li>
  </ul>
 </section>

<section class="featured-content">
  <div class="image-block" style="background: url('images/couple-taking-selfie.jpg') no-repeat center top; background-size: cover;"></div>
  <div class="feature-blocks">
    <div class="feature-block">
      <div class="feature-text">
        <h4>Give the Gift of Sight  This Holiday Season</h4>
        <p>Support the sight-saving work of  Prevent Blindness.</p>
      </div>
      <a href="#" class="arrow">Learn More</a>
    </div>
    <div class="feature-block">
      <div class="feature-text">
        <h4>Vision Problems in the U.S.</h4>
        <p>Prevalence of Adult Vision Impairment and Age-Related Eye Disease in America.</p>
      </div>
      <a href="#" class="arrow">Learn More</a>
    </div>
    <div class="feature-block">
      <div class="feature-text">
        <h4>Give the Gift of Sight  This Holiday Season</h4>
        <p>Support the sight-saving work of  Prevent Blindness.</p>
      </div>
      <a href="#" class="arrow">Learn More</a>
    </div>
  </div>
</section>