---
title: Text Only
---

<header class="page-header text-only">
  <div class="text-container">
      <h1>Terms</h1>
  </div>
</header>

<section class="one-column-container">
  <div class="text-block">
    <h4>Some Header Here</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et tellus vel mi viverra dignissim ullamcorper at dolor. Nulla ultrices commodo ligula, at posuere nibh. Sed eget lobortis neque.</p>
    <img src="http://preventblindness.org/sites/default/files/national/images/light_normal.jpg">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et tellus vel mi viverra dignissim ullamcorper at dolor. Nulla ultrices commodo ligula, at posuere nibh. Sed eget lobortis neque.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et tellus vel mi viverra dignissim ullamcorper at dolor. Nulla ultrices commodo ligula, at posuere nibh. Sed eget lobortis neque.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et tellus vel mi viverra dignissim ullamcorper at dolor. Nulla ultrices commodo ligula, at posuere nibh. Sed eget lobortis neque.</p>
  </div>
  <div class="text-block">
    <h4>Some Header Here</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et tellus vel mi viverra dignissim ullamcorper at dolor. Nulla ultrices commodo ligula, at posuere nibh. Sed eget lobortis neque.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et tellus vel mi viverra dignissim ullamcorper at dolor. Nulla ultrices commodo ligula, at posuere nibh. Sed eget lobortis neque.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et tellus vel mi viverra dignissim ullamcorper at dolor. Nulla ultrices commodo ligula, at posuere nibh. Sed eget lobortis neque.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et tellus vel mi viverra dignissim ullamcorper at dolor. Nulla ultrices commodo ligula, at posuere nibh. <a href="">Sed</a> eget lobortis neque.</p>
  </div>
</section>

<section class="callout">
  <div class="image-text-container">
    <div class="left-content">
      <img src="http://lowvision.preventblindness.org/lvwp/wp-content/themes/low-vision/images/low-vision-header.gif">
    </div>
    <div class="description">
      <p>Living Well with Low Vision is an online resource to educate those with loss of vision on how maintain their independence and quality of life. Learn more at lowvision.preventblindness.org.</p>
      <a href="#" class="arrow">Learn More</a>
    </div>
  </div>
</section>

<section class="related-links">
  <div class="related-links-container">
    <h5>Related Links</h5>
    <ul>
      <li><a href="#" class="button-grey-outline">Eye & Vision Glossary</a></li>
      <li><a href="#" class="button-grey-outline">Downloads</a></li>
      <li><a href="#" class="button-grey-outline">Share Your Story</a></li>
      <li><a href="#" class="button-grey-outline">The Eye & How We See</a></li>
    </ul>
  </div>
</section>