---
title: Two Column
---

<header class="page-header">
  <div class="image-block" style="background: url('images/eye-problems.jpg') no-repeat center; background-size: cover;"></div>
  <div class="text-container">
    <div class="text-block">
      <h1>News</h1>
      <p class="subheader">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et tellus vel mi viverra dignissim ullamcorper at dolor. Nulla ultrices commodo ligula, at posuere nibh. Sed eget lobortis neque.</p>
    </div>
  </div>
</header>

<section class="two-column-container">
  <div class="text-block">
    <h4>Some Header Here</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et tellus vel mi viverra dignissim ullamcorper at dolor. Nulla ultrices commodo ligula, at posuere nibh. Sed eget lobortis neque.</p>
  </div>
  <div class="text-block">
    <h4>Some Header Here</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et tellus vel mi viverra dignissim ullamcorper at dolor. Nulla ultrices commodo ligula, at posuere nibh. Sed eget lobortis neque.</p>
  </div>
  <div class="text-block">
    <h4>Some Header Here</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et tellus vel mi viverra dignissim ullamcorper at dolor. Nulla ultrices commodo ligula, at posuere nibh. Sed eget lobortis neque.</p>
  </div>
</section>

<section class="callout">
  <div class="image-text-container">
    <div class="left-header">
      <img src="http://lowvision.preventblindness.org/lvwp/wp-content/themes/low-vision/images/low-vision-header.gif">
    </div>
    <div class="description">
      <p>Living Well with Low Vision is an online resource to educate those with loss of vision on how maintain their independence and quality of life. Learn more at lowvision.preventblindness.org.</p>
      <a href="#" class="arrow">Learn More</a>
    </div>
  </div>
</section>

<section class="related-links">
  <div class="related-links-container">
    <h5>Related Links</h5>
    <ul>
      <li><a href="#" class="button-grey-outline">Eye & Vision Glossary</a></li>
      <li><a href="#" class="button-grey-outline">Downloads</a></li>
      <li><a href="#" class="button-grey-outline">Share Your Story</a></li>
      <li><a href="#" class="button-grey-outline">The Eye & How We See</a></li>
    </ul>
  </div>
</section>